:root{
    --primary-text-color: #757575;
    --h-color:#212121;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --what-d-bgc: #E5E5E5 ;
    --sec-hero-bgc:#2F303A;
    --body-bgc: #FFFFFF;
    --our-team-bgc: #F5F4FA;
    --footer-contacts:rgba(255, 255, 255, 0.6);
    --header-bgc:#ECECEC;

}
ul{
    list-style: none;
}
body {
    background-color: var(--body-bgc);
    color:var(--primary-text-color) ;

    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

/* -------- index ---------- */

/* header */


.logo{
    color: var(--logo-color);

    text-decoration: none;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
  
}
.logo span{
    color:  var(--accent-color);
}

.nav-head{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-head a{
    color: var(--h-color);
    text-decoration: none;
}
.nav-head a:hover, 
.nav-head a:focus{
    color:var(--accent-color);
}
.address-head{
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    
}
.address-head a{
    text-decoration: none;
}
.address-head a:hover,
.address-head a:focus{
    color: var(--accent-color);
}


/* main */
/* sec hero */
.section-hero{
    background-color: var(--sec-hero-bgc);
    color:var(--body-bgc) ;
}
.section-hero h1{
      font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section-hero button{
    cursor: pointer;
    color: var(--body-bgc);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* sec what doing */

.section-what-doing{
    background-color: var(--what-d-bgc);


}
.h-class{
    color: var(--h-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.h-class-h3{
    color: var(--h-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* sec our-team */

.our-team{
    background-color: var(--our-team-bgc);
}
.our-team h4{
font-weight: 500;
font-size: 16px;
line-height: 1.9;

}
.our-team .list-item{
    background-color: var(--body-bgc);
}

/* footer */

.footer{
    background-color: var(--sec-hero-bgc);
    color: var(--body-bgc);
    
}

.footer a{
    text-decoration: none;
    font-style: normal;
}

.footer span{
    color: var(--accent-color);
}


.footer .link{
    color: var(--footer-contacts);
}
.footer .link:hover,
.footer .link:focus{
    color: var(--accent-color); 
}

/* -------- Portfolio ---------- */

.main-portfolio {
    background-color: var(--body-bgc);
 
}
.portfolio-nav button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.main-portfolio a{
    text-decoration: none;
}
.unvis-h{
    display: none;
}
.portfolio-nav button{
    color: var(--h-color);
    background-color: var(--our-team-bgc);
    cursor: pointer;
}
.portfolio-nav button:hover,
.portfolio-nav button:focus{
    background-color: var(--accent-color);
    color: var(--body-bgc);
}
.portfolio-expamles h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-expamles p{
    font-size: 16px;
    line-height: 1.88;
}